<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}" />
    <meta charset="UTF-8">
    <title>Все заказы</title>
</head>
<body>
<table border="1">
    <tr>
        <td>Букет</td>
        <td>кол-во заказов</td>
    </tr>
    <tr>
        <td>bouquet1:</td>
        <td>{{ bouquet1 }}</td>
    </tr>
    <tr>
        <td>bouquet2:</td>
        <td>{{ bouquet2 }}</td>
    </tr>
    <tr>
        <td>bouquet3:</td>
        <td>{{ bouquet3 }}</td>
    </tr>
    <tr>
        <td>bouquet4:</td>
        <td>{{ bouquet4 }}</td>
    </tr>
    <tr>
        <td>bouquet5:</td>
        <td>{{ bouquet5 }}</td>
    </tr>
    <tr>
        <td>bouquet6:</td>
        <td>{{ bouquet6 }}</td>
    </tr>
   <tr>
        <td>bouquet7:</td>
        <td>{{ bouquet7 }}</td>
    </tr>
    <tr>
        <td>bouquet8:</td>
        <td>{{ bouquet8 }}</td>
    </tr>
    <tr>
        <td>your_bouquet:</td>
        <td>{{ your_bouquet }}</td>
    </tr>
</table>
</body>
</html>
