<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>

    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}<br>

    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date(class="form-control") }}<br>

    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
</body>
</html>